body {
  background: #fcfcfc;
  font-family: 'Noto Sans JP', sans-serif;
}
body a {
  text-decoration: none;
  color: #333;
}
body a:hover {
  text-decoration: none;
  color: #333;
}
body .index {
  width: 1000px;
  margin: 0 auto;
}
body .index .column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
body .index .card {
  margin: 0;
  width: 310px;
}
header {
  width: 100%; 
  border-bottom: solid 1px #ddd;
  padding: 18px;
  top: 0;
  margin-bottom: 50px;
}

header .content {
  width: 1000px;
  margin: 0 auto;
}